<!--header-->
  <div class="header">
    <div class="container">
      <div class="header-grids">
        <div class="logo">
          <h1><a  href="index.html"><span>RAJDEVI</span>YATAYAT</a></h1>
        </div>
        <!--navbar-header-->
        <div class="header-dropdown">
          <div class="emergency-grid">
            <ul>
              <li>Contact No: </li>
              <li class="call">9841188437</li>
            </ul>
          </div>
          <div class="clearfix"> </div>
        </div>
        <div class="clearfix"> </div>
      </div>
      <div class="nav-top">
        <div class="top-nav">
          <span class="menu"><img src="images/menu.png" alt="" /></span>
          <ul class="nav1">
            <li class="active"><a href="/">HOME</a></li>
            <li><a href="/test">Terms/Conditions</a></li>
            <li><a href="#">SERVICES</a></li>
            <li><a href="#">FAQs</a></li>
            <li ><a href="#">ABOUT US</a></li>           
          </ul>
          <div class="clearfix"> </div>
          <!-- script-for-menu -->
               <script> 
                 $( "span.menu" ).click(function() {
                 $( "ul.nav1" ).slideToggle( 300, function() {
                 // Animation complete.
                  });
                 });
              
              </script>
            <!-- /script-for-menu -->
        </div>
        <div class="dropdown-grids">
            <div id="loginContainer"><a href="#" id="loginButton"><span>Login</span></a>
              <div id="loginBox">                
                <form id="loginForm">
                  <div class="login-grids">
                    <div class="login-grid-left">
                      <fieldset id="body">
                        <fieldset>
                          <label for="email">Email Address</label>
                          <input type="text" name="email" id="email">
                        </fieldset>
                        <fieldset>
                          <label for="password">Password</label>
                          <input type="password" name="password" id="password">
                        </fieldset>
                        <input type="submit" id="login" value="Sign in">
                        <label for="checkbox"><input type="checkbox" id="checkbox"> <i>Remember me</i></label>
                      </fieldset>
                      <span><a href="#">Forgot your password?</a></span>
                        <div class="button-bottom">
                          <p>New account? <a href="signup.html">Signup</a></p>
                        </div>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
        </div>
        <div class="clearfix"> </div>
      </div>
    </div>
  </div>