<div class="banner-bottom" >
	<div class="container">
		<div>
			<h2>Rajdevi Yatayat Pvt. Ltd.</h2>
			
			<p>
				Rajdevi Yatayat (RDY) is a regional transport group which is headquartered in Malangwa, Sarlahi which was established in the year 2061 BS. It was started with the aim to provide better service and facilities to the customers who travel on day to day basis. It started from two buses and now owns fourteen buses. The fleet includes buses like AC buses, deluxe buses and non-deluxe buses. It operates passenger bus service from different places of Sarlahi to Kathmandu. Moreover, it is one of the growing providers of passenger bus services. We have around 50 employees and completes a journey of more than one lakh passengers annually. It has been able to gain popularity over the years and now is a leading passenger bus service company in Sarlahi.
			</p>
			<h3>Vision</h3>
			<ul>
				<li>To operate and manage an integrated road based public passenger transport system 
				</li>
				<li>To deliver a service of excellence that exceeds the needs and expectation of our customers. Strive to become a market leader in the transportation industry of which others aspire to follow.
</li>			</ul>
		<h3>Mission</h3>
		<p>It is our mission to provide efficient, reliable and safe transportation services to our customers at all times; approaching our jobs with passion and commitment toward our customers and our community.</p>
		<h3>Core Values</h3>
			<h4>Safety-Our first and highest priority</h4>
			<ul>
				<li>Our drivers are courteous, knowledgeable, highly trained professionals</li>
				<li>Our vehicles are clean, well-maintained, and inspected daily to ensure reliability</li>
			</ul>
			<h4>Customer Service – Our passion for excellence</h4>
			<ul>
				<li>Our pledge to customers is a friendly experience from reservations to your return home</li>
				<li>Our flexibility us to meet the ever-changing needs of our customers quickly and efficiently</li>
			</ul>
			<h4>Innovation – Our pursuit of continuous improvement</h4>
			<ul>
				<li>Our customers ride comfortably, enjoying the latest in travel technology
</li>
<li>Our innovative use of technology helps minimize costs and keep prices competitive</li>
			</ul>
			<h4>Community – Our past, present and future</h4>
			<ul>
				<li>Our company is locally owned, locally operated, and dedicated to hiring local employees</li>
			</ul>
		</div>
</div>
</div>